div.buy-course-page {
    width: 100%;
    height: 100vh;

    position: relative;

    justify-content: flex-end;
    align-items: center;

    padding: 3rem;
    padding-top: 10%;
    background-color: bisque;
}

div.buy-course-page video {
    position: absolute;

    z-index: -1;
    width: 100%;
}