form.buy-course-form-card {
    width: 40%;

    height: max-content;

    padding: 3.5rem;

    background-color: var(--white-clr);
}

div.course__title {
    font-size: 2.7rem;
    font-weight: 500;
}

div.course__price {
    font-size: 2rem;
    font-weight: 500;

    margin-bottom: 1.5rem;
}

div.course__description {
    width: 100%;

    margin-bottom: 1.5rem;
}

li.material__item i {
    margin-right: 1rem;
    color: var(--blue-clr);
}

ul.material__list {
    margin-bottom: 1.5rem;
}

form.buy-course-form-card input {
    width: 100%;

    background-color: var(--blue-clr);
    color: var(--white-clr);
    border: 1px solid var(--blue-clr);

    padding: .5rem 0;

    transition: background-color .2s ease-out;
}

form.buy-course-form-card input:hover {
    background-color: var(--white-clr);
    color: var(--blue-clr);
}

@media screen and (max-width: 1400px) {
    div.course__title {
        font-size: 2.3rem;
    }
}

@media screen and (max-width: 1150px) {

    form.buy-course-form-card {
        width: 50%;
    }

    div.course__title {
        font-size: 2rem;
    }

    div.course__price {
        font-size: 1.6rem;
    }

    div.course__description {
        font-size: .9rem;
    }
}

@media screen and (max-width: 900px) {
    
    form.buy-course-form-card {
        width: 60%;
    }
}

@media screen and (max-width: 790px) {
    
    form.buy-course-form-card {
        width: 70%;
    }
}

@media screen and (max-width: 590px) {
    
    form.buy-course-form-card {
        width: 100%;
    }
}

@media screen and (max-width: 490px) {
    
    form.buy-course-form-card {
        width: 100%;

        padding: 2rem 1rem;

        align-self: flex-start;

        margin-top: 10rem;
    }

    div.course__title {
        font-size: 1.6rem;
    }

    div.course__price {
        font-size: 1.3rem;
    }

    div.course__description {
        font-size: .9rem;
    }

    ul.material__list {
        font-size: .9rem;
    }
}