/* portfolio section*/

.team-header {
  text-align: center;
  padding: 1rem;
  color: white;
  font-weight: bold;
  font-size: 3.7rem;
}

.section-portfolio {
  width: 100%;
  background-color: #196ebc;
  height: 100%;

  padding: 5rem 0;
}
.team-header p {
  text-align: center;
  padding: 15px;
  color: white;
  font-weight: bold;
  font-size: 40px;
  letter-spacing: 5px;
}
#portfolio .row {
  width: 100%;
  padding-top: 50px;
}
.col {
  display: flex;
  justify-content: center;
  align-items: center;
}
.photo {
  border-radius: 50%;
  width: 200px;
  height: 200px;

  opacity: 90%;
}
.port-text {
  text-align: center;
  color: white;
}
.port-text .name {
  margin-top: 10px;
  font-size: 20px;
  font-weight: bolder;
}

.port-text .position {
  font-size: 20px;
}

@media only screen and (max-width: 767px) {
  .section-portfolio {
    height: 100%;
  }
}
@media only screen and (max-width: 471px) {
  .section-portfolio {
    height: 100%;
  }
}
@media only screen and (max-width: 395px) {
  .section-portfolio {
    height: 100%;
  }
}
/* endportfolio */
