nav.navbar {
  top: 0;
  left: 0;

  z-index: 500;

  width: 100%;
  height: 13%;

  padding: 0;

  justify-content: space-between;
  align-items: center;

  background-color: var(--white-clr);

  /* box-shadow: 0 0 1rem rgba(13, 13, 13, .40); */
}

div.navbar__left-items, div.navbar__right-items {
  height: 100%;
}

div.navbar__logo-container {
padding: 0 1.6rem;

place-items: center;
}

h1.navbar__logo a {
  transition: color .3s ease-out;
}

h1.navbar__logo a:hover {
  color: var(--blue-clr);
}

ul.navbar__nav-list {
  height: 100%;

  align-items: center;

  text-transform: uppercase;

  font-weight: 500;
}

li.navbar__nav-item {
  margin: 0 2rem;
}

li.navbar__nav-item a {
  transition: color .3s ease-out;

  position: relative;
}

li.navbar__nav-item a::after {
  content: "";

  position: absolute;
  bottom: 0;
  left: 0;

  width: 100%;
  height: 100%;


  border-bottom: 1.7px solid var(--blue-clr);

  opacity: 0;

  transition: opacity .3s ease-out;
}

li.navbar__nav-item a:hover::after {
  opacity: 1;
}


div.navbar__sign-in-btn {
  height: 100%;

  place-items: center;

  padding: 0 1.6rem;

  font-weight: 500;

  text-transform: uppercase;

  color: var(--white-clr);
  background-color: var(--blue-clr);

  border: 1px solid var(--blue-clr);

  transition: background-color .3s ease-out;

  cursor: pointer;
}

div.navbar__sign-in-btn:hover {
  background-color: var(--white-clr);
  color: var(--blue-clr);
}



div.navbar__smallscreen {
  display: none;
}

div.navbar__smallscreen i {
  font-size: 2rem;

  cursor: pointer;
}

div.navbar__overlay__smallscreen {
  top: 0;
  left: 0;

  width: 100%;
  height: 100vh;

  color: var(--white-clr);
  background-color: var(--blue-clr);

  flex-direction: column;
  place-items: center;

  z-index: 1000;
}

div.overlay__close {
  position: absolute;
  top: 1.2rem;
  right: 3rem;
  
  color: var(--white-clr);

  z-index: 1001;

  cursor: pointer;
}

ul.navbar__nav-list__smallscreen {
  font-size: 2rem;

  text-align: center;
}

li.navbar__nav-item__smallscreen a {
  position: relative;
}

li.navbar__nav-item__smallscreen a:hover {
  color: inherit;
}

li.navbar__nav-item__smallscreen a::after {
  content: "";

  bottom: 0;
  left: 0;

  position: absolute;

  width: 100%;
  height: 100%;

  border-bottom: 1.7px solid var(--white-clr);

  opacity: 0;

  transition: .25s ease-out;

}

li.navbar__nav-item__smallscreen a:hover::after {
  opacity: 1;
}

@media screen and (max-width: 1150px) {
  div.navbar__left-items ul, div.navbar__right-items {
      display: none;
  }

  div.navbar__smallscreen {
      display: flex;
  }

  div.navbar__nav-menu, div.navbar__logo-container {
      padding: 0;
  }

  nav.navbar {
      height: 8%;

      padding: 0 3rem;
      
  }
}

