div.courses {
    width: 100%;
    height: 100%;

    padding: 3rem 0;

    flex-direction: column;

    align-items: center;
}

h2.courses__heading {
    font-size: 4rem;
    font-weight: 500;
    color: var(--black-clr);

    margin-bottom: 3rem;
}

section.courses__container {
    grid-template-columns: repeat(3, 1fr);

    padding: 2rem 5rem;

    gap: 0 1.7rem;
}


@media screen and (max-width:900px) {
    div.courses {
    
        padding: 3rem 0;

    }

    section.courses__container {
        display: flex;
        flex-direction: column;
    
        padding: 2rem 5rem;

        align-items: center;

        text-align: center;
    
        gap: 0 1.7rem;
    }
}

