:root {
  --white-clr: rgb(255, 255, 255);
  --black-clr: rgb(13, 13, 13);
  --blue-clr: rgb(23, 102, 199);
  --gray-clr: rgb(191, 191, 191);

  --main-font: 'Satoshi', sans-serf;
  --logo-fnt: 'Technor', sans-serif;

  --link-hover-trans: .2s ease-out;
}

/* Resets */

*, *::before, *::after {

  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  overscroll-behavior: contain;
}

a {
  display: block;

  color: inherit;

  text-decoration: none;

  cursor: pointer;
}

ul {list-style: none;}

button {
  border: none;

  background: none;

  font: inherit;
}

input {

  border: none;

  background: none;

  font: inherit;
}

input::placeholder {font: inherit;}

img {
  display: block;

  width: 100%;
}

body {
  background-color: var(--white-clr);
  font-family: var(--main-font);
  color: var(--black-clr);

 
}

.flex {display: flex;}

.grid {display: grid;}

.fixed {position: fixed;}

.absolute {position: absolute;}

.relative {position: relative;}