.banner {
  position: relative;
  padding-top: 10%;
  display: flex;
  width: 100%;
  height: 100vh;
}
/* banner left  text and inputs container*/
.banner-left {
  width: 60%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 5rem;
}
/* Banner Text */
div .banner-text {
  color: var(--black-clr);
  font-size: 1rem;
  line-height: 1.4;
  width: 60%;

  margin-bottom: 2rem;
  
}

.banner-left span {
  font-size: 3.7rem;
  font-weight: 600;

  line-height: 1.09;

  color: var(--blue-clr);

  width: 700px;

}
/* search and email container */
.search-email {
  display: flex;
  width: 100%;
  
}
/* banner Image */
.img-banner {
  width: 45%;

  height: 100%;

  opacity: 92%;
  position: absolute;

  top:0;
  right: 0;

  z-index: -1;

}

/* end banner right */
/* banner input EMAIL */
div .email {
  border: 1px solid #196ebc;
  background: none;
  font-size: 1.5rem;
  padding: .5rem;
}
/* BANNER SIGNUP */
div .submit {
  background: #196ebc;
  border: 1px solid #196ebc;
  color: white;
  font-size: 20px;
  cursor: pointer;
  padding: 0 1rem;
  width: max-content;
  transition: .2s ease-out;
}

button.submit:hover {
  background-color: var(--white-clr);
  color: var(--blue-clr);
}

div .submit i {
  font-size: 2rem;
}



@media screen and (max-width: 1500px) {
  .banner-left span {
    font-size: 3.5rem;
  
    width: 500px;
  
  }

  .img-banner {
    width: 50%;
  }

}

@media screen and (max-width: 1150px) {

  .img-banner {
    width: 100%;
  }

  .banner-left span {
    font-size: 3.5rem;
    font-weight: 600;
  
    line-height: 1.09;
  
    color: var(--white-clr);
  
    width: 700px;

  }

  
  input.email::placeholder {
    color: white;
  }


  p.banner-text {

    color: var(--white-clr);
  }

}

@media screen and (max-width: 950px) {
  .banner {
    display: grid;
    
    place-items: center;
  }

  .banner-left {
    margin: 0;
  }

  .banner-left span {
    font-size: 3.2rem; 
    width: 100%;
  }

  p.banner-text {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
    .banner {
      padding: 0;
      margin: 0;
    }

    .banner-left span {
      width: 100%;

      font-size: 2.7rem;
    }

    p.banner-text {
      font-size: 1rem;
    }
}

@media screen and (max-width: 500px) {
  .banner-left span {
    width: 100%;

    font-size: 2rem;
  }

  input.email {
    font-size: 1rem;

    padding: .3rem;

    height: max-content;
  }



div .submit i {
    font-size: 1.1rem;
  }

  
  p.banner-text {
    font-size: .8rem;
  }
}



