.banner {
  padding: 3rem;
  padding-top: 10%;
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100vh;
  border-bottom: 1px solid rgba(25, 110, 188, 0.8);
}
/* banner left  text and inputs container*/
.banner-left {
  width: 60%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* Banner Text */
div .banner-text {
  color: #196ebc;
  font-size: 1.5rem;
  font-weight: 500;
  text-align: justify;
  width: 100%;
}
/* search and email container */
.search-email {
  display: flex;
  flex-direction: row;
  gap: 90px;
}
/* banner Image */
.img-banner {
  width: 40%;

  display: flex;
  justify-content: center;
  align-items: center;
}

/* end banner right */
/* banner input EMAIL */
div .email {
  border: 2px solid #196ebc;
  background: none;
  font-size: 1.3rem;
  border-radius: 25px;
  color: #196ebc;
  width: 100%;
  padding: 5px;
}
/* BANNER SIGNUP */
div .submit {
  background: #196ebc;
  border: 1px solid #196ebc;
  color: white;
  font-size: 20px;
  border-radius: 25px;
  cursor: pointer;
  height: 50px;
  width: 70%;
  box-shadow: 10px 9px 7px -4px rgba(25, 110, 188, 0.75);
  -webkit-box-shadow: 10px 9px 7px -4px rgba(25, 110, 188, 0.75);
  -moz-box-shadow: 10px 9px 7px -4px rgba(25, 110, 188, 0.75);
}

@media only screen and (max-width: 900px) {
  .banner {
    position: relative;
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
  }

  div .email {
    border: 2px solid white;
    background: none;
    font-size: 1.3rem;
    border-radius: 25px;
    color: white;
    width: 100%;
    padding: 5px;
  }
  div .submit {
    background: white;
    border: 1px solid white;
    color: #196ebc;
    font-size: 15px;
    border-radius: 25px;
    cursor: pointer;
    height: 50px;
    width: 75%;
  }
  div .banner-text {
    color: white;
  }
  .banner {
    background-color: #196ebc;
  }
  .search-email {
    display: flex;
    flex-direction: row;

    gap: 90px;
  }
  .img-banner {
    display: none;
  }
  .banner-left {
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media only screen and (max-width: 800px) {
  .img-banner {
    display: none;
  }
  div .submit {
    background: white;
    border: 1px solid white;
    color: #196ebc;
    font-size: 15px;
    border-radius: 25px;
    cursor: pointer;
    height: 50px;
    width: 75%;
  }
  div .banner-text {
    color: white;
  }
  .banner {
    background-color: #196ebc;
  }
  .search-email {
    display: flex;
    flex-direction: row;

    gap: 90px;
  }
}
@media only screen and (max-width: 510px) {
  .banner {
    padding: 3rem;
    padding-top: 10%;
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 90vh;
    border-bottom: 1px solid rgba(25, 110, 188, 0.8);
  }
  .search-email {
    display: flex;
    flex-direction: row;
    gap: 40px;
  }
}
@media only screen and (max-width: 438px) {
  .banner {
    height: 110vh;
  }
  .search-email {
    display: flex;
    flex-direction: row;
    width: 310px;
    gap: 10px;
  }
  div .email {
    border: 2px solid white;
    background: none;
    text-align: left;
    font-size: 15px;
    border-radius: 25px;
    height: 40px;
    color: white;
    width: 85%;
  }
  div .submit {
    background: white;
    border: 1px solid white;
    color: #196ebc;
    font-size: 15px;
    border-radius: 25px;
    cursor: pointer;
    height: 40px;
    width: 75%;
  }
  .img-banner {
    display: none;
  }

  div .banner-text {
    color: white;
  }
  .banner {
    background-color: #196ebc;
  }
}
