.banner {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 80vh;
  border-bottom: 2px solid #196ebc;
}
/* banner left  text and inputs container*/
.banner-left {
  width: 60%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* Banner Text */
div .banner-text {
  color: #196ebc;
  font-size: 20px;
  text-align: center;
  letter-spacing: 1px;
  width: 100%;
}
/* search and email container */
.search-email {
  display: flex;
  flex-direction: row;
  gap: 90px;
}
/* banner Image */
.img-banner {
  width: 40%;

  display: flex;
  justify-content: center;
  align-items: center;
}

/* end banner right */
/* banner input EMAIL */
div .email {
  border: 2px solid #196ebc;
  background: none;
  text-align: left;
  font-size: 20px;
  border-radius: 25px;
  height: 50px;
  color: #196ebc;
  width: 100%;
}
/* BANNER SIGNUP */
div .submit {
  background: #196ebc;
  border: 1px solid #196ebc;
  color: white;
  font-size: 20px;
  border-radius: 25px;
  cursor: pointer;
  height: 50px;
  width: 70%;
  box-shadow: 10px 9px 7px -4px rgba(25, 110, 188, 0.75);
  -webkit-box-shadow: 10px 9px 7px -4px rgba(25, 110, 188, 0.75);
  -moz-box-shadow: 10px 9px 7px -4px rgba(25, 110, 188, 0.75);
}

@media only screen and (max-width: 900px) {
  .banner {
    position: relative;
    width: 100%;

    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .banner-left {
    position: absolute;

    background-color: rgb(255, 255, 255, 0.66);
    flex-direction: column;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
  }
  .search-email {
    display: flex;
    flex-direction: row;

    gap: 90px;
  }
  .img-banner {
    height: 80vh;
    width: 60%;
  }
}
@media only screen and (max-width: 800px) {
  .img-banner {
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media only screen and (max-width: 510px) {
  .search-email {
    display: flex;
    flex-direction: row;
    gap: 40px;
  }
}
@media only screen and (max-width: 438px) {
  .search-email {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }
  div .email {
    border: 2px solid #196ebc;
    background: none;
    text-align: left;
    font-size: 20px;
    border-radius: 25px;
    height: 40px;
    color: #196ebc;
    width: 60%;
  }
  div .submit {
    background: #196ebc;
    border: 1px solid #196ebc;
    color: white;
    font-size: 20px;
    border-radius: 25px;
    cursor: pointer;
    height: 40px;
    width: 35%;
    font-size: 13px;
    font-weight: bolder;
    box-shadow: 10px 9px 7px -4px rgba(25, 110, 188, 0.75);
    -webkit-box-shadow: 10px 9px 7px -4px rgba(25, 110, 188, 0.75);
    -moz-box-shadow: 10px 9px 7px -4px rgba(25, 110, 188, 0.75);
  }
}
